{% extends 'base.html' %}

{% block content%}
<main class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="display-1 text-center mt-5">{{task.title}}</h1>

            {{error}}
            <form method="post"{% if not editable %} disabled{% endif %}>
                {% csrf_token %}
                <div class="form-group">
                    {{ form.title.label_tag }}
                    {{ form.title }}
                </div>

                <div class="form-group">
                    {{ form.descripcion.label_tag }}
                    {{ form.descripcion }}
                </div>

                <div class="d-flex justify-content-center">
                    <div class="form-check">
                        {{ form.importante }}
                        {{ form.importante.label_tag }}
                    </div>
                </div>                               
                
                <div class="form-group">
                    <label for="{{ form.fechaLim.id_for_label }}">Completar Hasta</label>
                    {{ form.fechaLim }}
                </div>
                

                <div class="form-group">
                    {{ form.evento.label_tag }}
                    {{ form.evento }}
                </div>

                <div class="form-group">
                    {{ form.asignado_a.label_tag }}
                    {{ form.asignado_a }}
                </div>

                {% if editable %}
                <button class="btn btn-primary mt-3">Guardar</button>
                {% endif %}
            </form>

            {% if editable %}
            <form action="{% url 'complete_task' task.id %}"  method="post">
                {% csrf_token %}
                <button class="btn btn-outline-primary mt-1">Completada</button>
            </form>
            {% else %}
            <form action="{% url 'complete_task_assigned' task.id %}"  method="post">
                {% csrf_token %}
                <button class="btn btn-outline-primary mt-1">Completada</button>
            </form>
            {% endif %}


            {% if not task.fechaLim is none %}
                <form action="{% url 'rehacer_task' task.id %}"  method="post">
                    {% csrf_token %}
                    <button class="btn btn-secondary mt-1">Rehacer</button>
                </form>
            {% endif %}

            {% if editable %}
            <form action="{% url 'delete_task' task.id %}"  method="post">
                {% csrf_token %}
                <button class="btn btn-danger mt-1 mb-5">Eliminar</button>
            </form>
            {% endif %}


        </div>
    </div>
</main>

{% endblock %}