{% extends 'base.html' %}

{% block content %}
<main class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="display-3 text-center mt-3">Mis Tareas</h1>

            <table class="table mt-5">
                <thead>
                    <tr>
                        <th scope="col">Título</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Completar Hasta</th>
                        <th scope="col">Evento</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tarea in tareas %}
                        <tr>
                            <td>{{ tarea.title }}</td>
                            <td>{{ tarea.descripcion }}</td>
                            <td>{{ tarea.fechaLim }}</td>
                            <td>{{ tarea.evento }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4" class="text-center">No se encontraron tareas asignadas</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}
