{% extends 'base.html' %}

{% block content%}
<main class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="display-1 text-center mt-5">{{evento.nombre}}</h1> 
                      
            <form method="post" class="my-1">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary">Guardar</button>
            </form>
            <form action="{% url 'evento_eliminar' evento.id %}"  method="POST" class="d-inline-block" >
                {% csrf_token %}
                <button class="btn btn-danger">Eliminar</button>
            </form>
            
            {% if '/eventos-completos/' not in request.path %}
                <div class="d-flex justify-content-start mt-5">
                    <form action="{% url 'task_por_evento' evento.id %}"  method="POST">
                        {% csrf_token %}              
                        <button class="btn btn-secondary me-2">Ver Tareas del Evento</button>
                    </form>
                
                    <form action="{% url 'descarga_csv' evento.id %}"  method="POST">
                        {% csrf_token %}              
                        <button class="btn btn-warning">Descargar Tareas CSV</button>
                    </form>
                </div>
                
                <div class="d-flex justify-content-start mt-3">
                    {% if agregar_invitados %}
                        <form action="{% url 'invitado_crear' evento.id%}"  method="POST" class="me-2">
                            {% csrf_token %}              
                            <button class="btn btn-success">Agregar Invitados</button>
                        </form>
                        
                        <form method="post" action="{% url 'subir_invitados' evento.id %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            
                            <a href="#" id="subir-archivo-csv" class="btn btn-outline-success me-2">Subir archivo CSV</a>
                          </form>

                    {% endif %}

                    <form action="{% url 'descargar_lista_invitados' evento.id %}"  method="POST">
                        {% csrf_token %}              
                        <button class="btn btn-warning">Descargar Invitados CSV</button>
                    </form>
                </div>
            {% endif %}

            <form action="{% url 'eventos' %}"  method="POST" class="mt-5">
                {% csrf_token %}              
                <button class="btn btn-dark">Atrás</button>
            </form>
        </div>
    </div>
</main>

<script>
    document.addEventListener('DOMContentLoaded', function() {
      var subirArchivoBtn = document.getElementById('subir-archivo-csv');
      
      subirArchivoBtn.addEventListener('click', function(e) {
        e.preventDefault();
        var input = document.createElement('input');
        input.type = 'file';
        input.accept = '.csv';
        input.style.display = 'none';
        
        input.addEventListener('change', function(e) {
          var file = e.target.files[0];
          if (file) {
            // Aquí puedes enviar el archivo CSV al servidor para su procesamiento
            var formData = new FormData();
            formData.append('archivo_csv', file);
            
            fetch('/procesar_archivo_csv/<evento_id>/', {
              method: 'POST',
              body: formData
            })
            .then(function(response) {
              // Manejar la respuesta del servidor
              if (response.ok) {
                // Procesamiento exitoso del archivo CSV
                console.log('Archivo CSV subido y procesado correctamente.');
              } else {
                // Manejar errores en el procesamiento del archivo CSV
                console.error('Error al subir o procesar el archivo CSV.');
              }
            })
            .catch(function(error) {
              console.error('Error en la solicitud:', error);
            });
          }
        });
        
        document.body.appendChild(input);
        input.click();
        document.body.removeChild(input);
      });
    });
    </script>


{% endblock %}


