{% extends 'base.html' %}

{% block content%}
<main class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="display-1 text-center mt-5">{{evento.nombre}}</h1>           
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary">Guardar</button>
            </form>
            
            <form action="{% url 'evento_eliminar' evento.id %}"  method="post">
                {% csrf_token %}
                <button class="btn btn-danger mt-1">Eliminar</button>
            </form>

            {% if '/eventos-completos/' not in request.path %}
                <form action="{% url 'task_por_evento' evento.id %}"  method="POST">
                    {% csrf_token %}              
                    <button class="btn btn-secondary mt-3" >Ver Tareas Asociadas</button>
                </form>

                <form action="{% url 'user_por_evento' evento.id %}"  method="POST">
                    {% csrf_token %}              
                    <button class="btn btn-secondary mt-1" >Ver Usuarios</button>
                </form>

                <form action="{% url 'descarga_csv' evento.id %}"  method="POST">
                    {% csrf_token %}              
                    <button class="btn btn-secondary mt-1" >Descargar Usuarios CSV</button>
                </form>
            {% endif %}       
        </div>
    </div>
</main>

{% endblock %}


