{% extends 'base.html' %}

{% block content%}
<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="mt-5 text-center display-3">Organizadores del Evento</h1>

            <ul class="list-group">
                {% for user in users %}
                <a class="list-group-item">                    
                    <header class="d-flex justify-content-between">
                        <h1 class="fw-bold-3"> {{user.username}} </h1>
                    </header>
                    <p>{{user.email}} </p>
                </a>
                {% endfor %}
            </ul>
            {% if '/eventos-completos/' not in request.path %}
                <form action="{% url 'eventos'  %}"  method="POST">
                    {% csrf_token %}              
                    <button class="btn btn-secondary mt-3" >Atrás</button>
                </form>
            {% endif %}
        </div>        
    </div>
</main>
{% endblock %}